$bg-color: #f5f5f5;
$text-color: #222;

body {
  margin: 0;
  padding: 0;
//   background-color: $bg-color;
  color: $text-color;
  font-family: 'Segoe UI', sans-serif;
  
  background-color: lightblue;


}
